{% extends "users/base.html"%}
{% load crispy_forms_tags %}

{% block content%}
<section class="mt-5 w-50">
    <form method="POST" class="border p-5">
        {% csrf_token %}
        <h2 class="mb-4">
            <i class="bi bi-instagram"></i>
              instagram-clone
        </h2>
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info text-white" type="submit">Log In</button>
        </div>
    </form>
    <div class="border my-3 py-2">
        <small>
            Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
        </small>
    </div>
</section>
{% endblock content%}