{% extends "projects/base.html"%}

{% block content%}
    <div class="row">
        <div class="row">
            <div class="d-flex text-muted pt-3 mb-2">
                <strong class="text-gray-dark h3">Projects by {{view.kwargs.username}}: </strong>
              </div>
        </div>
        {% for project in projects%}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <img style='height: 250px;object-fit:cover;' src="{{ project.image.url}}" class="card-img-top" alt="photo image">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text"><small class="text-muted">{{project.created}}</small></p>
                    </div>
                </div>
            </div>
            {% empty %}
                <h3>User has no projects yet!</h3>
        {% endfor %}
    </div>
{% endblock content%}
